@keyframes myshadow{
    0%{
        
        transform: rotate(0deg);
        
    }
    25%{
       
        transform:rotate(10deg);

    }
    50%{
       
        transform: rotate(0deg);}
    75%{
        
        transform:rotate(-10deg);
    
    }

    100%{
       
        transform: rotate(0deg);
    }
}


@keyframes heart{
    0%{
        transform: scale(1);

    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes boxin{
    0%{
        transform: rotate(0deg);

    }
    50%{
        transform: rotate(36000deg);

    }
    100%{
        transform: rotate(0deg);
    }
}

body{
    background-color: hotpink;
    position: relative;
    cursor: crosshair;
    &::after{
        content: '';
    background-image: url(../img/angle.svg);
    background-size: cover;
    position: fixed;
    pointer-events: none;
    height: 2rem;
    width: 2rem;
    top: 0;
    left: 0;
    z-index: 1000;
    }

    .first{
        position: absolute;
        z-index: 13;
        top:.5%;
        right: 10%;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background: gold;
        font-size: 30px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        #bttn{
            transform: rotate(0deg);
            transition: 2s;
            color: black;
        }
    }
    .second{
        position: fixed;
        z-index: 13;
        top:90%;
        left: 2%;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background:darkcyan;
        font-size: 30px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        #bttn2{
            transform: rotate(90deg);
            transition: 2s;
            color: #ffb951;
        }

    }
    .three{
        position: fixed;
        z-index: 13;
        top:90%;
        right: 2%;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background: yellow;
        font-size: 30px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 2s;
        
        animation-delay: 1.3s;
        .icon3{
            animation: boxin 500s linear infinite;

        }

    }
}


#my-js{
    position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    z-index: 12;
    display: none;
    
    width: 100%;
    height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transform: translateX(1500px);

    
    transition: 2s;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        .box{
            width: 400px;
            height: 400px;
            border-radius:50%;
            background-color: black;
            
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 50px 50px rgba(255,255,255,0.8);
            animation: boxin 500s linear infinite;
           
            .icon{
                font-size: 250px;
                color: red;
                animation: heart 3s linear infinite;
                
            }
            

        }
    }

}

#slide-navbar{
    background-color: #fff;
    width: 50%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    
    top: 0;
    left: 0;
    z-index: 12;
    overflow-y:scroll;
    position: fixed;
    transform: translateX(-1000px);
    transition: 2s;
    
    .container{
        .slide-text{
            
            ul{
                 
                p{
                    
                    font-weight: 600;
                    line-height: 1.1;
                    font-size: 24px;
                    margin-bottom: 0.8rem;
                    margin-left: 29px;
                    margin-top: 50px;
                }
                li{
                    
                    color: black;
                    border-bottom: 1px solid rgba(197, 210, 224, 0.4);
                    padding: 1rem 0;
                    margin: 0 2.2rem;
                    user-select: none;
                    transition: 1s;
                    &:hover{
                        transform: translateX(20px);

                    }

                    &:hover a{
                        color: darkorange;
                        

                    }
                    a{
                        color: #19191B;
                        font-size: 16px;
                        transition: 1s;
                        
                    }
                }
            }
        }
    }
}


#hidden-navbar{
    background-color: #19191B !important;
    font-family: poppins;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    transform: translateY(-400px);
    transition: 3s;
    
    
    
    
    z-index: 10;
    display: flex;
    align-items: center;
    .my-container{
        .my-navbar{
            .my-navbar-text{
                .my-navbar-item{
                    display: flex;
                    align-items: center;
                    margin-bottom: 50px !important;
                    &:hover span{
                        opacity: 1;
                        transform: translateX(10px);


                    }
                    &:hover a{
                        color: gold;
                        transform: translateX(20px);
                    }

                    
                    span{
                        font-size: 16px;
                        color: #fff;
                        opacity: .7;
                        margin-right: 2.5rem;
                        transition: 1s;

                    }
                    a{
                        color: #fff;
                        font-size: 62px;
                        font-weight: 600;
                        transition: 1s;

                    }
                }

            }
        }
    }
}

#header{
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    position: relative;
    z-index: 1;
    background-color: hotpink;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(25, 25, 27, 0.35);;
        
        z-index: 2;

    }
    .custom-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: absolute;
        z-index: 3;
        
        .row{
            .col-lg-6{
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: calc(2rem + 3.4vw);
                    font-family: poppins;
                    font-weight: 600;
                    color: bisque;
                    animation: myshadow 7s linear infinite;
                
                }
                
            }
        }
        
    }
    .text{
        position: absolute;
        z-index: 4;
        bottom: 0;
        left: 0;
        background: hotpink;
        padding: 60px;

        &::before{
            content: '';
            background: hotpink;
            height: 100%;
            position: absolute;
            top: 0;
            right: -4rem;
            transform: skewX(25deg);
            width: 100%;
            z-index: -1;
        }
        .tittle{
            
            font-weight: 600;
            line-height: 1.1;
            font-size: 19px;
          

        }
        
    }
    
    
}
#nothing{
    margin-top: 150px;
    margin-bottom: 80px;
    background-color: hotpink;
    .custom-container{
        .row{
            .col-lg-12{
                width: 100%;
                margin-bottom: 30px;
                transition: 1s;
                p{
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    line-height: 1.1;
                    font-size: 3rem;
                    margin-bottom: 20px;
                    width: 100%;
                }
            }

            .col-sm-6{
                p{
                    color: #19191B;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    line-height: 1.9;
                    font-size: 1rem;
                    max-width: 521px;
                    margin-bottom: 30px;
                }
            }
            .col-lg-6{
                
                img{
                    width: 100%;
                }
                
                .foot{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 50px;
                    span{
                        color: #ffb951;
                        margin-right: 10px;

                    }
                    .line{
                        width: 50px;
                        height: .5px;
                        background-color: #ffb951;
                    }
                }

                
            }
        }
    }
}
#cases{
    font-family: "Poppins", sans-serif;
    .custom-container{
        .head{
            margin-bottom: 50px;
            .col-12{
                transition: 1s all ease;
                &:hover{
                    color: white;
                    transform: translateY(-30px);
                }
                .tittle{
                    
                    font-weight: 600;
                    line-height: 1;
                    font-size: 4rem;

                  
                }
                span{
                   
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.9;
                }
            }
        }
    }
}
#slider{
    display: flex;
    align-items: center;
    justify-content: center;
    .row{
        display: flex;
    align-items: center;
    justify-content: center;
    .owl-stage{
        display: flex;
        justify-content: center;
        
        .owl-item{
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            .item{
                display: flex;
                align-items: center;
                justify-content: center;
                
                img{
                    max-width: 1100px;
                    width: 100%;
                }
            }
        }
    }
    }
    .owl-item{
        margin-right: 30px !important;
    }
}
#services{
    .custom-container{
        .head{
            margin-bottom: 100px;
            .col-12{
                transition: 1s;
                &:hover{
                    transform:translateY(-20px);
                    color: #ffb951;
                }
                .tittle{
                    
                    font-weight: 600;
                    line-height: 1;
                    font-size: 4rem;

                  
                }
                span{
                   
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.9;
                }
            }
        }

    }
    .row{
        width: 100%;
        margin: 0;
        .col-lg-4{
            overflow: hidden;
            padding: 0 !important;
            position: relative;
            height: 740px;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(25, 25, 27, 0.35);;
                
                z-index: 2;
            }


            &:hover img{
                transform: scale(1.2) rotate(360deg);

            }
            .image-container{
                width: 100%;
                height: 100%;
                overflow: hidden;
                img{
                    min-width: 100%;
                    max-height: 100%;
                    transition: 2s all ease;
                    
                }
                .text{
                    z-index: 3;
                    position: absolute;
                    left: 5%;
                    bottom: 5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .sm-text{
                        width: 70%;
                        p{
                            font-size: 3rem;
                            font-weight: 600;
                            line-height: 1.1;
                            color: #fff;
                            
                        }
                        span{
                            color: #fff;
                        }
                    }
                }
            }
            
        }
    }
}

#footer-top{
    .custom-container{
        margin-top: 100px;
        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .brand-parent{
                
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover img{
                    transform: scale(1.3);

                }
                img{
                    width: 223px;
                    max-width: 100%;
                    transition: 1s;
                }
            }
        }
    }
    .line{
        width: 200px;
        height: 0.5px;
        background-color: gray;
        margin-bottom: 10px;
    }
}
#footer-bottom{
    font-family: poppins;
    margin-top: 100px;
    .custom-container{
        .row{
            .col-12{
                .foot-text{
                    p{
                        font-size: .875rem;
                        line-height: 2rem;
                        font-weight: 400;
                        opacity: .8;


                    }
                    span{
                        display: flex;
                        align-items: center;
                        
                        i{
                            margin-right: 20px;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}